@page "/displayplan"

@using StudyPlan.Data

<h1>Weekly Plan</h1>
<br>

<div class="week">
<div class="times">
    <div class="time" />
    @for (TimeOnly time = new TimeOnly(9, 0, 0); time <= new TimeOnly(17, 0, 0); time = time.Add(new TimeSpan(1, 0 ,0)))
    {
        <div class="time">
            @time.ToShortTimeString()
        </div>
    }
</div>
@for (int i = 0; i < weekPlan.Days.Length; i++)
{
    <Day day="weekPlan.Days[i]"/>
}
</div>

@code {
    private WeekPlan weekPlan;

    protected override void OnInitialized()
    {
        weekPlan = new Scheduler(StudyTask.FetchAll()).CreatePlan();
    }
}
