@page "/generateplan"
@using StudyPlanService;

@if (!planGenerated)
{
    <h1>Plan Settings</h1>
    <button @onclick="CreatePlan">Create Plan</button>
    <br><br>
    <label for="study-period">Length of study period:</label>
    <select name="study-period" id="study-period" @bind="studyPeriod">
        <option value="00:30:00">30 minutes</option>
        <option value="01:00:00">1 hour</option>
        <option value="01:30:00">1 hour 30 minutes</option>
        <option value="02:00:00">2 hours</option>
        <option value="03:00:00">3 hours</option>
    </select>
    <br><br>
    <label for="break-period">Length of break period:</label>
    <select name="break-period" id="break-period" @bind="breakPeriod">
        <option value="00:00:00">No break</option>
        <option value="00:10:00">10 minutes</option>
        <option value="00:15:00">15 minutes</option>
        <option value="00:20:00">20 minutes</option>
        <option value="00:30:00">30 minutes</option>
        <option value="01:00:00">1 hours</option>
    </select>
    <br><br>
    <label>Weekends off:</label>
    <input type="checkbox" @bind="weekendsOff" />
}
else
{
    <Plan studyPeriod="@studyPeriod" breakPeriod="@breakPeriod" weekendsOff="@weekendsOff"/>
}

@code {
    private string studyPeriod = "00:30:00";
    private string breakPeriod = "00:00:00";
    private bool weekendsOff = false;
    private bool planGenerated = false;

    private void CreatePlan()
    {
        planGenerated = true;
    }
}
