@page "/tasks"
@using System;
@using System.Text.Json;
@using StudyPlanService;

@if (@taskId > 0)
{
    <button @onclick="Back">Back</button>
    <br><br>
    <EditTask id=@taskId />
}
else
{
    <h1>View Tasks</h1>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Estimated Time</th>
            <th>Due Date</th>
            <th></th>
        </tr>
        @foreach (StudyPlanService.Task task in tasks)
        {
            <tr>
                <td>@task.name</td>
                <td>@task.subject.name</td>
                <td>@task.estimatedTime.ToString()</td>
                <td>@task.dueDate.ToString()</td>
                <td><button @onclick="(() => taskId = task.id)">Edit</button></td>
            </tr>
        }
    </table>
}

@code {
    private List<StudyPlanService.Task> tasks = new List<StudyPlanService.Task>();
    private int taskId = 0;

    protected override void OnInitialized()
    {
        tasks = StudyPlanService.Task.FetchAll();
    }

    private void UpdateTaskId(int id)
    {
        taskId = id;
    }

    private void Back()
    {
        taskId = 0;
        tasks = StudyPlanService.Task.FetchAll();
    }

    public TimeSpan ConvertToTimeSpan(float hours)
    {
        int totalMinutes = (int)(hours * 60);

        return TimeSpan.FromMinutes(totalMinutes);
    }
}
